<!-- Sequence: 10 -->
<!-- allowGuest: true -->
<li><a href="https://wiki.xnat.org/xnat-tools" target="_blank">XNAT Tools</a></li>
<li><a href="https://download.xnat.org/desktop-client" target="_blank">XNAT Desktop Client</a></li>
<li><a href="https://wiki.xnat.org/xnat-tools/dicombrowser" target="_blank">DICOM Browser</a></li>
<li><a href="https://wiki.xnat.org/xnat-tools/xnat-web-services-client-tools" target="_blank">Command Prompt Tools</a></li>
#if($user.isSiteAdmin() || $user.checkRole("DataFormManager"))
    <li><a href="#!" class="nolink">Custom Forms</a>
    <ul>
    <li><a href="$link.setPage("FormManagerDashBoard.vm")">Manage Custom Forms</a></li>

    #if($turbineUtils.getBooleanPreferenceValue("custom-forms-features", "custom-variable-migration", false))
        <li><a href="$link.setPage("MigrateLegacyCustomVariable.vm")">Migrate Custom Variables</a></li>
    #end

    </ul>
    </li>
#end
