
##Developer: Tim Olsen tim@radiologics.com
#if($data.getSession().getAttribute("userHelper").canRead("xnat:subjectData/project",$om.getId()))
    #if($user.checkFeature($om,"ResourceQuarantine") || $user.checkFeature($om,"QuarantineReview"))
        jq.getScript("$content.getURI("scripts/prearchive/PrearchiveDetails_fileDialog.js")");
        jq.getScript("$content.getURI("scripts/triage/Triage_file_approve.js")");
        jq.getScript("$content.getURI("scripts/triage/Triage_file_delete.js")");
        jq.getScript("$content.getURI("scripts/triage/Triage_resource_approve.js")");
        jq.getScript("$content.getURI("scripts/triage/Triage_resource_delete.js")");

        window.summaryTabView.addTab( new YAHOO.widget.Tab({   
            label: 'Quarantine',   
            dataSrc: serverRoot+'/data/services/triage/projects/$om.getId()/resources?project=$om.getId()&format=html&hideTopBar=true&requested_screen=TriageResources.vm',      
            cacheData: false
        }));
    #end
#end