#* @vtlvariable name="siteConfig" type="org.nrg.xdat.preferences.SiteConfigPreferences" *#


<table>
    <tr>
        <th align="left">ID:</th>
        <td>$!item.getStringProperty("xnat:projectData/ID")
            #if($item.getChildItems("aliases/alias").size()>0)
                &nbsp;&nbsp;&nbsp;Aka:
                #foreach($alias in $item.getChildItems("aliases/alias"))
                    #escapeCleanHTML($alias.getProperty("alias"))&nbsp;
                #end
            #end
        </td>
    </tr>
    #if($item.getProperty("xnat:projectData/description"))
        <tr>
            <th align="left" valign="top">Description:</th>
            <td>
                #if($!item.getStringProperty("xnat:projectData/description").length()>300)
                    <div style="height:100;overflow:auto">
                        #escapeCleanHTML($!item.getStringProperty("xnat:projectData/description"))
                    </div>
                #else
                    #escapeCleanHTML($!item.getStringProperty("xnat:projectData/description"))
                #end
            </td>
        </tr>
    #end
    #if($item.getProperty("xnat:projectData/keywords"))
        <tr>
            <th align="left">Keywords:</th>
            <td>#escapeCleanHTML($!item.getStringProperty("xnat:projectData/keywords"))</td>
        </tr>
    #end
    #if($item.getProperty("xnat:projectData/PI"))
        <tr>
            <th align="left">PI:</th>
            <td>#escapeCleanHTML($!item.getStringProperty("xnat:projectData/PI/lastname")), #escapeCleanHTML($!item.getStringProperty("xnat:projectData/PI/firstname"))</td>
        </tr>
    #end
    #if($om.getInvestigators_investigator().size()>0)
        <tr>
            <th align="left">Investigators:</th>
            <td>
                #foreach($invest in $om.getInvestigators_investigator())
                    #if($velocityCount>1);#end #escapeCleanHTML($!invest.getLastname()), #escapeCleanHTML($!invest.getFirstname())
                #end
            </td>
        </tr>
    #end
</table>
<br>

#set($canReadSubjects=$data.getSession().getAttribute("userHelper").canRead("xnat:subjectData/project","$project.getId()"))
#if($canReadSubjects && $dynamicFormsDefinedForProject)
<a id="moreDetailsBtn" href="#!">View Custom Field(s)</a>
<script type="text/javascript">
   var oMoreDetailsBtn = new YAHOO.widget.Button("moreDetailsBtn");
   var formOptions = { readOnly:true,
                       renderMode:'html',
                       buttonSettings: {
                             showCancel: false,
                             showSubmit: false,
                             showNext: false,
                             showPrevious: false
                       }
            };
    function getFormIOContainer() {
        let formioContainer = $.spawn('div#moreDetailsFormIO',{className:'xnat-bootstrap'});
        $$(formioContainer).empty();
        return formioContainer;
    }

    var  projectFormComponents = new CustomVariableFormComponents();

    var moreDetailsBtnClick = function (e) {
        let formIOContainer$ = getFormIOContainer();
        XNAT.ui.dialog.open({
                title: 'Additional meta-data',
                content: formIOContainer$,
                className: 'xnat-bootstrap',
                width: 800,
                height:800,
                beforeShow: function(obj) {
                    projectFormComponents.loadCustomFormComponents('null','null','moreDetailsFormIO');
                },
                buttons: [
                    {
                        label: 'Close',
                        close: true,
                        isDefault: true,
                    }
                ]
            });
    }
   oMoreDetailsBtn.on("click", moreDetailsBtnClick);
</script>
#end



#if($canEditOrDeleteProject)
<a id="button1" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","edit").addPathInfo("search_element","xnat:projectData").addPathInfo("search_field","xnat:projectData.ID").addPathInfo("search_value","$!{project.getId()}").addPathInfo("popup","$!popup")">Edit Details</a>
    #if($data.getSession().getAttribute("userHelper").canDelete($project) && $siteConfig.uiAllowProjectDelete)
    <a id="button3" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","delete").addPathInfo("search_element","xnat:projectData").addPathInfo("search_field","xnat:projectData.ID").addPathInfo("search_value","$!{project.getId()}").addPathInfo("popup","$!popup")">Delete</a>
    #end
    <a id="button5" href="$link.setAction("XDATActionRouter").addPathInfo("xdataction","protocols").addPathInfo("search_element","xnat:projectData").addPathInfo("search_field","xnat:projectData.ID").addPathInfo("search_value","$!{project.getId()}").addPathInfo("popup","$!popup")">Manage Custom Variables</a>
#end