#if($canEditOrDeleteProject)
<!-- position 99 -->
    <li class="yuimenuitem" id="project-eventservice-action">
        #set ( $projectEventServiceUri = "/app/template/Page.vm?view=project/event-service&id=$project.getId()" )
        <a href="$content.getURI($projectEventServiceUri)">Event Service</a>
    </li>
##    <script>
##        XNAT.app.pluginSettings.projectSettingsActionItem('#project-settings-action');
##    </script>
#end