##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved

<div id="mylogger"></div>

<div id="activity-tab">
    <div class="panel-header">
        <div class="title">Background processes</div>
        <div class="actions">
            <a class="activity-min icn" href="#"><i class="fa fa-angle-down"></i></a>
            <a class="activity-max icn" href="#"><i class="fa fa-angle-up"></i></a>
            <a class="activity-close icn" href="#"><i class="fa fa-close"></i></a>
        </div>
    </div>
    <div class="panel-body"></div>
</div>

#addGlobalCustomScreens("footer")
