#* @vtlvariable name="siteConfig" type="org.nrg.xdat.preferences.SiteConfigPreferences" *#
#* @vtlvariable name="userObject" type="org.nrg.xdat.security.XDATUser" *#
#* @vtlvariable name="item" type="org.nrg.xft.XFTItem" *#
#* @vtlvariable name="hasFailedLoginAttempts" type="java.lang.Boolean" *#
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set ($dataPopup = $turbineUtils.GetPassedParameter("popup",$data))
#if ($data.message)
<div class="error">$data.message</div><br>
#end

#set ($USERNAME = "$!userObject.getUsername()")
<script>
    window.editUser = '${USERNAME}';
    console.log('window.editUser: "${USERNAME}"')
</script>

#parse("/screens/LoadProjectsJS.vm")
<form id="userform" name="form1" method="post" action="$link.setAction("ModifyUserGroups")">
    <table width=100% align="left" border="0">
        <tr>
            <td align="left">
                #addCustomScreens($om.getXSIType() "report/preDetails")
                <div id="subject_summary_module" style="display:none">
                    <div id="subjectSummary" class="yui-navset" style="min-width:480px;">
                        <ul class="yui-nav" style="">
                            <li class="selected"><a href="#tab1"><em>Details<span class="spacer"></span></em></a></li>
                            <li><a href="#tab2"><em>Stored Searches</em></a></li>
                        ##<!-- inject additional tabs-->
                            #foreach($tab in $turbineUtils.getTemplates($om.getXSIType(),"report/tabs"))
                                <li><a href="#$tab.getProperty("divName")"><em>$tab.getProperty("title")
                                    <span class="spacer"></span></em></a></li>
                            #end
                        </ul>

                        <div class="yui-content" style="clear:both;overflow:auto;">

                        ##<!-- details tab -->
                            <div id="tab1">
                                #parse($turbineUtils.getTemplateName("details","xdat:user",$!project))
                            </div>

                        ##<!-- stored searches tab -->
                            <div id="tab2">
                                #parse($turbineUtils.getTemplateName("stored_searches","xdat:user",$!project))
                            </div>

                        ##<!-- inject additional tabs -->
                            #foreach($tab in $turbineUtils.getTemplates($om.getXSIType(),"report/tabs"))
                                <div id="$tab.getProperty("divName")">
                                    #set($path = "screens/${tab.getProperty('path')}")
                                    <p>#parse($path)</p>
                                </div>
                            #end

                            <script type="text/javascript">

                                function goToUsersPage(){
                                    xmodal.loading.open('#wait');
                                    window.top.location.href = serverRoot + '/app/template/XDATScreen_admin.vm';
                                }

                                function clearFailedLogins(){
                                    var callback = {
                                        cache: false, // Turn off caching for IE
                                        success: function(response){
                                            document.getElementById("reset_user").style.display = 'none';
                                            closeModalPanel("resetting");
                                        },
                                        failure: function(response){
                                            closeModalPanel("resetting");
                                            xmodal.message('User Validation', 'Failed to reset user $userObject.getUsername(): ' + response);
                                        }
                                    };

                                    openModalPanel("resetting", "Resetting failed user login attempts for user $userObject.getUsername()...");
                                    YAHOO.util.Connect.asyncRequest('PUT', serverRoot + '/data/user/actions/$userObject.getUsername()/reset?XNAT_CSRF=' + window.csrfToken + '&format=json&stamp=' + (new Date()).getTime(), callback, null);
                                }

                                function clearEmailRequests(){
                                    var callback = {
                                        cache: false, // Turn off caching for IE
                                        success: function(response){
                                            document.getElementById("reset_user").style.display = 'none';
                                            closeModalPanel("resetting");
                                        },
                                        failure: function(response){
                                            closeModalPanel("resetting");
                                            xmodal.message('User Validation', 'Failed to reset user $userObject.getUsername(): ' + response);
                                        }
                                    };

                                    openModalPanel("resetting", "Resetting email requests for user $userObject.getUsername()...");
                                    YAHOO.util.Connect.asyncRequest('PUT', serverRoot + '/data/user/actions/$userObject.getUsername()/resetEmailRequests?XNAT_CSRF=' + window.csrfToken + '&format=json&stamp=' + (new Date()).getTime(), callback, null);
                                }

                                function summaryIndexChanged(){
                                    var activeIndex = this.get("activeIndex");
                                    YAHOO.util.Cookie.set("${project.getId()}.summary.index", activeIndex);
                                }

                                function summaryTabManagerInit(){
                                    window.summaryTabView = new YAHOO.widget.TabView('subjectSummary');
                                    window.subject_summary_module = new YAHOO.widget.Module("subject_summary_module", {
                                        visible: false,
                                        zIndex: 5
                                    });

                                    #addCustomScreenJS($om.getXSIType() "report/tabs_js")

                                    window.subject_summary_module.show();

                                    var tabIndex = YAHOO.util.Cookie.get("${om.getId()}.summary.index");
                                    window.summaryTabView.set('activeIndex', tabIndex || 0);

                                    window.summaryTabView.subscribe("activeTabChange", summaryIndexChanged);
                                }
                                summaryTabManagerInit();
                            </script>

                        </div>

                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                #addCustomScreens($om.getXSIType() "report/postDetails")
            </td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;background:#f0f0f0;border:1px solid #ccc">

                    <h3>Assign $displayManager.getSingularDisplayNameForProject().toLowerCase() membership and roles</h3>

                    <div style="padding:10px;">
                        ## container for user group table
                        <div id="user-group-membership-table">
                            <!-- listing of this user's group memberships -->
                        </div>

                        <br>
                        ## 'Add Role' button - adds a row to the above table containing projects and roles (groups)
                        <button type="button" class="btn btn1" id="user-add-group">Add Role</button>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <div style="padding:10px;background:#f0f0f0;border:1px solid #ccc">
                    <h3>Define security settings</h3>
                    <table width="100%" border="0">
                        <tr>
                            <td valign="top">
                                <table border="0" width="100%" style="margin-top:10px;">
                                    <tr>
                                        <th align="left">System Roles:</th>
                                    </tr>
                                    #foreach($role in $allRoles)
                                        <tr>
                                            <td align="left">
                                                <input class="access role" type="checkbox" id="role_$role.getKey()" name="custom_role" value="$role.getKey()" #if($userObject.checkRole($role.getKey()))checked#end/>
                                                <label for="role_$role.getKey()">$role.getName()</label>
                                                : $!role.getDescription()
                                            </td>
                                        </tr>
                                        #if($role.getWarning())
                                            <tr>
                                            ## <td align="center" valign="top"><img src="$content.getURI("images/rc.gif")" border="0"></td>
                                                <td align="left">
                                                    <div class="warning">
                                                        $role.getWarning()
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        #end
                                    #end
                                </table>

                                #set($groupCounter=0)

                                #if($siteConfig.allowDataAdmins)
                                    <table border="0" width="100%" style="margin-top:20px;">
                                        <tr>
                                            <th align="left">Allow All Data Access:</th>
                                        </tr>
                                        <tr>
                                        ## <td align="center" valign="top" style="width:20px"><img src="$content.getURI("images/rc.gif")" border="0"></td>
                                            <td align="left">
                                                <div class="warning">
                                                    WARNING: Allowing 'All Data Access' will allow this user to see ALL data stored in this system.
                                                    It supersedes project membership. Most accounts on your server should NOT have All Data Access allowed.
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <label style="margin-right:10px;white-space:nowrap;">
                                                    <input class="access group" type="radio" id="data_none" name="xdat:user.groups.groupID[$groupCounter].groupID" value="NULL" checked/><label for="data_none">No</label>
                                                </label>
                                                <label style="margin-right:10px;white-space:nowrap;">
                                                    <input class="access group" type="radio" id="data_access" name="xdat:user.groups.groupID[$groupCounter].groupID" value="ALL_DATA_ACCESS" #if($userObjectHelper.isMember("ALL_DATA_ACCESS"))checked#end/><label for="data_access">Read Only</label>
                                                </label>
                                                <label style="margin-right:10px;white-space:nowrap;">
                                                    <input class="access group" type="radio" id="data_admin" name="xdat:user.groups.groupID[$groupCounter].groupID" value="ALL_DATA_ADMIN" #if($userObjectHelper.isMember("ALL_DATA_ADMIN"))checked#end/><label for="data_admin">Read, Edit & Delete</label>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                #end
                            </td>
                        </tr>
                        <tr>
                            <td align="right">

                                <button id="update-user-roles" type="button" class="btn1">Save</button>

                                ## #set ($projectAccessScript = "/scripts/xnat/data/projectAccess.jsp?user=${USERNAME}")
                                ## <script type="text/javascript" src="$content.getURI($projectAccessScript)"></script>
                                <script type="text/javascript" src="$content.getURI('/scripts/xnat/admin/usersAdvanced.js')"></script>

                            </td>
                        </tr>
                        #set($groupCounter=$groupCounter+1)
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                #addCustomScreens($om.getXSIType() "report/postContent")
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">

    // hacks for Actions menu items
    (function(){

        var __actions = jq('#actionsMenu');

        // hack to remove the "Change Permissions" link
        __actions.find('a[title="Change Permissions"]').closest('li').remove();

        // view the XML in a popup
        __actions.find('a[href*="/xdataction/xml/"]').on('click', function(e){
            e.preventDefault();
            XNAT.ui.popup.viewXML(this.href);
        });

    })();

</script>
